#!/bin/bash
cd /ufs/cluster/mismail/monitoring_drop/gem5-stable
export LD_LIBRARY_PATH=/ufs/cluster/tchen/local/lib:/ufs/cluster/tchen/local/lib64
export PATH=/ufs/cluster/tchen/local/bin:$PATH
export PATH=/ufs/cluster/tsg/tools/binutils-2.23.1/bin:$PATH
export PATH=`pwd`/build/ARM/:$PATH
export GEM5=`pwd`/
export MONITOR=<MONITOR>
export MODEL=<MODEL>
if [ $1 ]; then
    if [ $MODEL = ATOMIC ]; then
        gem5.debug --remote-gdb-port=0 --stats-file=$GEM5/m5out/malarden/$MONITOR/$MODEL/$(basename ${1%arm})txt $GEM5/configs/example/dual_core.py -c $1 --cpu-type=atomic
    elif [ $MODEL = TIMING ]; then
        gem5.debug --remote-gdb-port=0 --stats-file=$GEM5/m5out/malarden/$MONITOR/$MODEL/$(basename ${1%arm})txt $GEM5/configs/example/dual_core.py -c $1 --cpu-type=timing --caches
    elif [ $MODEL = FLEX ]; then
        gem5.debug --remote-gdb-port=0 --stats-file=$GEM5/m5out/malarden/$MONITOR/$MODEL/$(basename ${1%arm})txt $GEM5/configs/example/flex_core_emulate.py -c $1 --cpu-type=atomic --caches
    fi
fi
